{% extends 'base.html.twig' %}

{% block title %}symRecipe - Mes ingredient
{% endblock %}

{% block body %}
	<div class='container'>


		{% if not ingredients.items is same as ([]) %}
			<div class='container'>
				<h1 class='mt-4'>Mes ingredient</h1>


				{% for message in app.flashes('success') %}

					<div class="alert alert-dismissible alert-success mt-4  ">


						{{ message }}
					</div>
				{% endfor %}

				<a href="{{ path('ingredient.new') }}" class="btn btn-primary">Ajouter un Ingredient</a>

				<div class="h4">
					le nombre des recors :
					{{ ingredients.getTotalItemCount }}
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Num</th>
							<th scope="col">Name</th>
							<th scope="col">Prix</th>
							<th scope="col">Date de creation</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>

						{% for ingredient in ingredients %}
							<tr class="table-primary">
								<th scope='row'>{{ingredient.id}}</th>
								<td>{{ingredient.name}}</td>
								<td>{{ingredient.price}}</td>
								<td>{{ingredient.createdAt|date('d/m/y')}}</td>
								<td>
									<a href="{{path('ingredient.edit',{"id": ingredient.id})}}" class="btn btn-info">edit</a>
									<a href="{{path('ingredient.delete',{"id": ingredient.id})}}" class="btn btn-danger">delete</a>


								</td>
							</tr>

						{% endfor %}

					</tbody>
				</table>

				<div class="navigation d-flex justify-content-center">


					{{ knp_pagination_render(ingredients) }}
				</div>
			</div>

		{% else %}


			<h3>
				Il n'y a pas d'ingredients

			</h3>
		{% endif %}


	</div>

{% endblock %}
